---
layout: header
title: Categories | Shander Lam's Blog
---
<h1>Posts By Category</h1>
<ul>
  {% for category in site.categories %}
    <li><a href="#{{ category[0] | downcase | replace: ' ', '-' }}-ref">{{ category[0] | join: "/" }} <span>({{ category[1].size }})</span></a></li>
  {% endfor %}
</ul>
{% for category in site.categories %}
  <h2 id="{{ category[0] | downcase | replace: ' ', '-' }}-ref">{{ category[0] | join: "/" }} <span>({{ category[1].size }})</span></h2>
  <ul>
    {% for node in category[1] %}
      {% if group == null or group == node.group %}
        {% if page.url == node.url %}
        <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
        {% else %}
        <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
