---
layout: default
title: Shander Lam's Blog
---
<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit:5 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<a href="archive.html">Archive</a>
<h3>Categories</h3>
<ul>
  {% for category in site.categories %}
    <li>
      {{ category[0] | join: "/"  }}
      <span>({{ category[1].size }})</span>
    </li>
  {% endfor %}
</ul>
<h3>Tags</h3>
<ul>
  {% for tag in site.tags %}
      <li>{{ tag[0] }} <span>{{ tag[1].size }}</span></li>
  {% endfor %}
</ul>
